/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: inherit;
  font-weight: inherit;
  font-family: Inter, sans-serif;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear,
input::-moz-clear,
input::-webkit-clear-button {
  display: none;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

/*--------------------*/

.wrapper {
  background: #2e2e2e;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  overflow: hidden;
}

.resize {
  position: absolute;
  animation: resizeCircle 1s linear forwards;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes resizeCircle {
  0% {
    scale: 0;
  }

  30% {
    scale: 1;
  }

  100% {
    opacity: 0;
  }
}

.letter-wrapper {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 30px;
  color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  text-shadow: orange 0px 0px 10px;
  animation: animateLetter 1.4s linear forwards;
}

.text{
  position: fixed;
  width: 100%;
  bottom: 20px;
  left: 0;
  text-align: center;
  color: orange;
  font-size: 26px;
}

@keyframes animateLetter {
  0% {
    scale: 0;
  }

  20% {
    scale: 1;
  }

  80%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}